apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.OpenNMS.Notification.ServiceName }}
  labels:
    app: {{ .Values.OpenNMS.Notification.ServiceName }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.OpenNMS.Notification.ServiceName }}
  replicas: {{ .Values.OpenNMS.Notification.Replicas }}
  template:
    metadata:
      labels:
        appdomain: opennms
        app: {{ .Values.OpenNMS.Notification.ServiceName }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
        # roll the deployment when the Spring boot environment variable configmap changes
        checksum/spring-boot-env-configmap: {{ include (print $.Template.BasePath "/opennms/spring-boot-env-configmap.yaml") . | sha256sum }}
        kubectl.kubernetes.io/default-container: "{{ .Values.OpenNMS.Notification.ServiceName }}"
    spec:
      {{- if .Values.NodeRestrictions.Enabled }}
      nodeSelector:                                                                                    
        {{ .Values.NodeRestrictions.Key }}: {{ .Values.NodeRestrictions.Value }}                       
      tolerations:
        - effect: "NoSchedule"                                                                         
          key: "{{ .Values.NodeRestrictions.Key }}"                                                    
          operator: "Equal"
          value: {{ .Values.NodeRestrictions.Value }} 
      affinity: 
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:                                             
          - weight: 1                                                                                  
            preference:                                                                                
              matchExpressions:                                                                        
              - key: "{{ .Values.NodeRestrictions.Key }}"                                              
                operator: In
                values:                                                                                
                - {{ .Values.NodeRestrictions.Value }}                                                 
      {{- end }}
      volumes:
        - name: spring-boot-app-config-volume
          configMap:
            name: spring-boot-app-config
      containers:
        - name: {{ .Values.OpenNMS.Notification.ServiceName }}
          image: {{ include "lokahi.image" (dict "Values" .Values "thisService" .Values.OpenNMS.Notification) | quote }}
          imagePullPolicy: {{ .Values.OpenNMS.Notification.ImagePullPolicy }}
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:MaxRAMPercentage=50 -javaagent:agent/opentelemetry-javaagent.jar -agentlib:jdwp=transport=dt_socket,server=y,address=5005,suspend=n,quiet=y"  # FIXME: Permanent debug port, enable only for dev mode
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "{{ .Values.OpenNMS.global.kafkaClient.bootstrapServers }}"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://{{ .Values.OpenNMS.Notification.DbHost }}:5432/{{ .Values.OpenNMS.Notification.DbName }}?currentSchema={{ .Values.OpenNMS.Notification.DbSchemaName }}"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: notificationUser
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: notificationPwd
            - name: SPRING_MAIL_FROM
              value: "{{ .Values.OpenNMS.Notification.mailFrom }}"
            - name: HORIZON_EMAIL_RETRY_DELAY
              value: "{{ .Values.OpenNMS.Notification.retry.delay }}"
            - name: HORIZON_EMAIL_RETRY_MAXDELAY
              value: "{{ .Values.OpenNMS.Notification.retry.maxDelay }}"
            - name: HORIZON_EMAIL_RETRY_MULTIPLIER
              value: "{{ .Values.OpenNMS.Notification.retry.multiplier }}"
            - name: HORIZON_EMAIL_RETRY_MAX
              value: "{{ .Values.OpenNMS.Notification.retry.max }}"
            {{- if .Values.OpenNMS.Notification.acsConnectionSecretName }}
            - name: SPRING_MAIL_ACS_CONNECTION_STRING # spring.mail.acs-connection-string
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.OpenNMS.Notification.acsConnectionSecretName }}
                  key: connection-string
            {{- else }}
            - name: SPRING_MAIL_HOST
              value: "{{ .Values.OpenNMS.Notification.smtpHost }}"
            - name: SPRING_MAIL_PORT
              value: "{{ .Values.OpenNMS.Notification.smtpPort }}"
            {{- end }}
            - name: HORIZON_KEYCLOAK_BASE_URL
              value: "http://{{ .Values.Keycloak.ServiceName }}:{{ .Values.Keycloak.Port }}{{ .Values.Keycloak.Path }}/"
            - name: HORIZON_KEYCLOAK_ADMIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.Keycloak.ServiceName }}-initial-admin
                  key: username
            - name: HORIZON_KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.Keycloak.ServiceName }}-initial-admin
                  key: password
            {{- include "deployment.env" (dict "Values" .Values "thisService" .Values.OpenNMS.Notification) | nindent 12 }}
          envFrom:
          - configMapRef:
              name: spring-boot-env
          {{- include "kafkaSecretFrom" .Values.OpenNMS.Notification | indent 10 }}
          ports:
            - name: grpc
              containerPort: 6565
            - name: http
              containerPort: 8080
          volumeMounts:
            - name: spring-boot-app-config-volume
              mountPath: "/app/config"
          livenessProbe:
            httpGet:
              path: "/actuator/health/liveness"
              port: http
              scheme: HTTP
            initialDelaySeconds: 20
            timeoutSeconds: 1
            periodSeconds: 2
            successThreshold: 1
            failureThreshold: 150
          readinessProbe:
            httpGet:
              path: "/actuator/health/readiness"
              port: http
              scheme: HTTP
            initialDelaySeconds: 20
            timeoutSeconds: 1
            periodSeconds: 2 
            successThreshold: 1
            failureThreshold: 250
          resources:
            limits:
              cpu: "{{ .Values.OpenNMS.Notification.Resources.Limits.Cpu }}"
              memory: "{{ .Values.OpenNMS.Notification.Resources.Limits.Memory }}"
            requests:
              cpu: "{{ .Values.OpenNMS.Notification.Resources.Requests.Cpu }}"
              memory: "{{ .Values.OpenNMS.Notification.Resources.Requests.Memory }}"
      {{- if .Values.OpenNMS.Notification.PrivateRepoEnabled }}
      imagePullSecrets:
        - name: image-credentials
      {{- end }}
