/* 
  The class names are based on the `severity` type of the graphql schema.
    enum Severity {
      CLEARED
      CRITICAL
      INDETERMINATE
      MAJOR
      MINOR
      NORMAL
      SEVERITY_UNDEFINED
      UNRECOGNIZED
      WARNING
    }
*/

@use '@featherds/styles/themes/utils';
@use '@featherds/styles/themes/variables';

$opacity: 0.2;

.critical-color {
  background-color: utils.alpha(variables.$error, $opacity);
  color: var(variables.$error) !important;
}

.major-color {
  background-color: utils.alpha(variables.$major, $opacity);
  color: var(variables.$major) !important;
}

.minor-color {
  background-color: utils.alpha(variables.$minor, $opacity);
  color: var(variables.$minor) !important;
}

.warning-color {
  background-color: utils.alpha(variables.$warning, $opacity);
  color: var(variables.$warning) !important;
}

.indeterminate-color {
  background-color: utils.alpha(variables.$indeterminate, $opacity);
  color: var(variables.$indeterminate) !important;
}

.normal-color {
  background-color: utils.alpha(variables.$success, $opacity);
  color: var(variables.$success) !important;
}

.cleared-color {
  background-color: utils.alpha(variables.$cleared, $opacity);
  color: var(variables.$cleared) !important;
}

.severity_undefined-color {
  border: 1px solid var(variables.$border-on-surface);
}
