{{- if .Values.ingress.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: controller-{{ .Release.Namespace }}
    app.kubernetes.io/name: ingress-nginx-{{ .Release.Namespace }}
    app.kubernetes.io/instance: ingress-nginx-{{ .Release.Namespace }}
    app.kubernetes.io/part-of: ingress-nginx-{{ .Release.Namespace }}
    app.kubernetes.io/version: 1.3.0
  name: ingress-nginx-controller
  namespace: {{ .Release.Namespace }}
spec:
  serviceType: LoadBalancer
  minReadySeconds: 0
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/component: controller-{{ .Release.Namespace }}
      app.kubernetes.io/name: ingress-nginx-{{ .Release.Namespace }}
      app.kubernetes.io/instance: ingress-nginx-{{ .Release.Namespace }}
  strategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        appdomain: opennms
        app.kubernetes.io/component: controller-{{ .Release.Namespace }}
        app.kubernetes.io/name: ingress-nginx-{{ .Release.Namespace }}
        app.kubernetes.io/instance: ingress-nginx-{{ .Release.Namespace }}
      annotations:
        kubectl.kubernetes.io/default-container: "controller"
    {{- if (eq (include "onOpenShift" .) "true")  }}
        openshift.io/scc: controller-scc
    {{- end }}
    spec:
      {{- if (eq (include "onOpenShift" .) "true") }}
      serviceAccountName: controller-sa
      {{- else }}
      serviceAccountName: ingress-nginx
      {{- end }}
      {{- if .Values.nodeRestrictions.enabled }}
      nodeSelector:
        {{ .Values.nodeRestrictions.key }}: {{ .Values.nodeRestrictions.value }}
      tolerations:
        - effect: "NoSchedule"
          key: "{{ .Values.nodeRestrictions.key }}"
          operator: "Equal"
          value: {{ .Values.nodeRestrictions.value }}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: "{{ .Values.nodeRestrictions.key }}"
                operator: In
                values:
                - {{ .Values.nodeRestrictions.value }}
      {{- end }}
      dnsPolicy: ClusterFirst
      containers:
      - args:
        - /nginx-ingress-controller
        - --election-id=ingress-controller-leader
        - --controller-class=k8s.io/ingress-nginx
        - --ingress-class=nginx
        - --configmap=$(POD_NAMESPACE)/ingress-nginx-controller
        - --watch-ingress-without-class=true
        - --publish-status-address=localhost
        - --http-port={{ .Values.ingress.httpPort }}
        - --https-port={{ .Values.ingress.httpsPort }}
        - --validating-webhook=:8443
        - --validating-webhook-certificate=/usr/local/certificates/cert
        - --validating-webhook-key=/usr/local/certificates/key
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: LD_PRELOAD
          value: /usr/local/lib/libmimalloc.so
        image: {{ .Values.ingress.controllerImage }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        lifecycle:
          preStop:
            exec:
              command:
              - /wait-shutdown
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: 10254
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: controller
        ports:
        - containerPort: 80 #{{ .Values.ingress.httpPort }}
          hostPort: {{ .Values.ingress.httpPort }}
          name: http
          protocol: TCP
        - containerPort: 443 #{{ .Values.ingress.httpsPort }}
          hostPort: {{ .Values.ingress.httpsPort }}
          name: https
          protocol: TCP
        - containerPort: 8443
          name: webhook
          protocol: TCP
        - containerPort: 8990
          name: grpc
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 10254
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          requests:
            cpu: 100m
            memory: 90Mi
        securityContext:
          {{- if (eq (include "onOpenShift" .) "true")  }}
          seccompProfile:
           type: RuntimeDefault
          {{- else }}
          runAsUser: 101
          allowPrivilegeEscalation: true
          capabilities:
            add:
            - NET_BIND_SERVICE
            drop:
            - ALL
          {{- end }}
        volumeMounts:
        - mountPath: /usr/local/certificates/
          name: webhook-cert
          readOnly: true
      
      terminationGracePeriodSeconds: 0
      volumes:
      - name: webhook-cert
        secret:
          secretName: ingress-nginx-admission
{{- end }}
